{if $auth.cl_user_group_id eq 1}
<div class="row">
        <div class="col-lg-4 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>Rp. {$data.pendapatan.total|number_format:0:',':'.'|default:0}</h3>

              <p>Pendapatan Hari Ini</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
		<div class="col-lg-4 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{$data.qty_keluar.total|number_format:0:',':'.'|default:0}</h3>

              <p>Qty Keluar</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
		<div class="col-lg-4 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{$data.qty_masuk.total|number_format:0:',':'.'|default:0}</h3>

              <p>Qty Masuk</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Sales</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div id="chart_{$acak}"></div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
             
            </div>
            <!-- /.box-footer -->
          </div>
	</div>
	<div class="col-sm-6">
		<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Latest Orders</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>Invoice</th>
                    <th>Customer</th>
                    <th>Market</th>
                    <th>GrandTotal</th>
                  </tr>
                  </thead>
                  <tbody>
				  {foreach from=$data.sales item=i}
                  <tr>
                    <td><a href="javascript:void(0)">{$i.no_invoice|default:''}</a></td>
                    <td>{$i.nama_customer|default:''}</td>
                    <td><span class="label label-success">{$i.sumber|default:''}</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">{$i.grand_total|number_format:0:',':'.'|default:0}</div>
                    </td>
                  </tr>
				  {/foreach}
                  
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              
            </div>
            <!-- /.box-footer -->
          </div>
	</div>
</div>
<script>
	$('#chart_{$acak}').addClass('loading');
	$.get(host+'modul/get_chart/sales',function(r){
		console.log(r);
		var js=JSON.parse(r);
		$('#chart_{$acak}').removeClass('loading');
		chart_na('chart_{$acak}','line','','','',js.x,js.y,'');
	});
	
</script>
{else}
<div class="callout callout-info">
  <h4>Selamat Datang !</h4>

  <p>Sistem Aplikasi CV. FORDZA</p>
 </div>
{/if}