<div id="grid_nya_dt_project_{$acak}" style="margin-left:8px;">
	<div id='grid_dt_project_{$acak}'></div>
	<div id='tb_dt_project_{$acak}' style="padding:5px;height:{$tinggi_toolbar|default:'35px'};">
		<div style="float:{$align|default:'left'}; width:100%;">
			<label style='width:100px;'>Pencarian </label>: &nbsp;&nbsp;
			<input type="text" name="key_{$acak}" id="key_{$acak}" style="width:50%;height:22px;">
			&nbsp;&nbsp;&nbsp;
		</div>
	</div>
</div>
<script>
$('#grid_nya_dt_project_{$acak}').css('height',(getClientHeight()-200));

var dt=$("#grid_dt_project_{$acak}").datagrid({
		rownumbers:true,
		iconCls:'database',
        fit:true,
        striped:true,
        pagination:true,
        remoteSort: false,
		showFooter:false,
		singleSelect:true,
        url: host+'modul/getdata/dt_po',		
		nowrap: false,
		pageSize:15,
		pageList:[15,25,50,75,100,200],
		queryParams:{
			sts:'F'
		},
		toolbar: '#tb_dt_project_{$acak}',
		columns:[[
			
			{ field:'create_date',title:'Pilih',width:60, halign:'center',align:'center',
				formatter: function(value,row,index){
					var telp='';
					var alamat=''
					
					if(row.alamat)alamat=row.alamat;
					if(row.telp)telp=row.telp;
					
					return "<a href='javascript:void(0);' onclick='pilih_po(\""+row.id+"\",\""+row.no_po+"\",\""+row.supplier+"\",\""+telp+"\",\""+alamat+"\",\""+row.tgl_pengiriman+"\",\""+row.note+"\")' class='btn btn-sm btn-success'>Pilih</a>";
				}
			},
			{ field:'no_po',title:'No. Po',width:230, halign:'center',align:'center' },
			
			{ field:'supplier',title:'Nama Supplier',width:200, halign:'left',align:'left' },
			{ field:'total_qty',title:'Total',width:150, halign:'right',align:'right',
				formatter: function(value,row,index){
					return NumberFormat(value)
				}
			},
        ]],
		onLoadSuccess: function(data){
			$('#grid_dt_project_{$acak}').resizable();
		}
	});
	$("#key_{$acak}").keypress(function(e) {
		if(e.which == 13) {
			dt.datagrid('reload',{ key:$(this).val() });
		}
	});
	function pilih_po(id,no_po,nm,telp,alamat,tgl,catatan){
		$('.id_po_na').val(id);
		$('.no_po_na').val(no_po);
		$('.telp_na').val(telp);
		$('.nm_supplier_na').val(nm);
		$('.alamat_na').val(alamat);
		$('.tgl_kirim_na').val(tgl);
		$('.catat_na').val(catatan);
		$('.dt_masuk').html('');
		$('.dt_masuk').show();
		loadingna();
		$.post(host+'modul/get_konten/detil_masuk',{ id:id,editstatus:'add' },function(r){
			$('.dt_masuk').removeClass('loading').html(r);
			winLoadingClose();
			closeWindow();
		});
		
	}
</script>