<fieldset>
	<legend>Form Input Lokasi Project</legend>
<div class="span10">
<form class="form-horizontal" id="form_{$acak}" url="{$host}modul/cruddata/cl_lokasi" method="post" enctype="multipart/form-data">
<table class="table table-hover">
		<input type="hidden" name="id" value="{$data.id|default:''}">
		<input type="hidden" name="sts_crud" value="{$sts_crud|default:'add'}">
		{include file="template/input_form.html" type='text' label="Kode Lokasi *" id="kode_lokasi" name="kode_lokasi" style_type="width:80%" class="validasi" value="{$data.kode_lokasi|default:''}"}
		{include file="template/input_form.html" type='text' label="Lokasi *" id="lokasi" name="lokasi" style_type="width:80%" class="validasi" value="{$data.lokasi|default:''}"}
</table>
	
</form>
<div class="control-group">
	<center>
	<label class="control-label" for="form-field-1"></label>
	<div class="controls">
		{include file="template/button_save.html" id_na="simpan_{$mod}"  btn_goyz="true" text="Simpan / Update"}
		{include file="template/button_save.html" id_na="cancel_{$mod}"  btn_goyz="true" text="Kembali Ke List"}
	</div>
	</center>
</div>		
</div>
</fieldset>

<script>
	
	$('#cancel_{$mod}_{$acak}').click(function(){
		$('#grid_nya_{$mod}').show();
		$('#detil_nya_{$mod}').html('').hide();
	});
	$('#simpan_{$mod}_{$acak}').click(function(){
		$(".validasi").validatebox({ required:true }); 
		if ($('#form_{$acak}').form('validate')){
			submit_form('form_{$acak}',function(r){
				if(r==1){
					winLoadingClose();
					$.messager.alert('BSR',"Data Tersimpan",'info');
					$('#grid_nya_{$mod}').show();
					$('#detil_nya_{$mod}').html('').hide();
					$('#grid_{$mod}').datagrid('reload');
				}else if(r==2){
					winLoadingClose();
					$.messager.alert('BSR',"Kode Lokasi Sudah ADA!!",'warning');
				}else{
					winLoadingClose();
					$.messager.alert('BSR',"Data Gagal Tersimpan",'error');
					console.log(r);
				}
			});
		}else{
			$.messager.alert('BSR',"Isi Form Yang Kosong",'error');
		}

	});
</script>