<!-- Breadcrumb Area -->
        <section class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-box text-center">
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">Home <span>||</span></li>
                                <li class="list-inline-item"><a href="#">Berita</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Breadcrumb Area -->

        <!-- About Area -->
        <section class="about-us">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-12">
                        <div class="row his-mis">
                            
                            <div class="col-md-12">
                                <div class="history">
                                    <h5>Pemberitahuan Penonaktifan Produk yang Terdampak Penertiban Kesesuaian Kode KBLI</h5>
                                    <p>
										Yth.<br>
										<ul>
											<li>Pengelola Katalog Elektronik Sektoral dan Lokal</li>
											<li>Penyedia Katalog di Tempat</li>
										</ul>

								Pengelola Katalog Elektronik Sektoral dan Lokal<br>
								Penyedia Katalog di Tempat<br>
								Menindaklanjuti Surat Nomor 18448/D.2.2/08/2022 tanggal 01 Agustus 2022 perihal Informasi Pembaruan Etalase Produk bagi Pengelola Katalog Elektronik (terlampir) serta dalam rangka penertiban kesesuaian Etalase produk/komoditas dengan ijin usaha yang dimiliki oleh para Penyedia Katalog, bersama ini kami sampaikan hal-hal sebagai berikut:

									</p>
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-check"></i>
											Bahwa kami telah memberlakukan implementasi KBLI (Klasifikasi Baku Lapangan Usaha Indonesia) pada proses pencantuman produk Katalog Elektronik dimana sistem melakukan otomasi pengecekan kesesuaian KBLI yang dimiliki oleh Penyedia Katalog dengan KBLI yang disyaratkan.
										</li>
                                        <li><i class="fa fa-check"></i>
											Pemberlakuan implementasi tersebut di atas, berdampak terhadap penonaktifan (freezing) proses purchasing sejumlah produk katalog untuk sementara waktu.
										</li>
                                        <li><i class="fa fa-check"></i>
											Terhadap produk tersebut pada butir 2 di atas, secara bertahap akan dilakukan pengaktifan kembali (unfreeze) simultan dengan hasil pemeriksaan dan pembaruan Etalase produk eksisting yang secara mandiri dibuat oleh para Pengelola Katalog Nasional/Sektoral/Lokal.
										</li>
                                        <li><i class="fa fa-check"></i>
											Referensi KBLI yang digunakan pada proses pencantuman berdasarkan data SIKaP. Oleh karena itu diharapkan Pelaku Usaha melangkapi/melakukan update data pada SIKaP yang telah terintegrasi dengan OSS dan sinkronisasi pada aplikasi Katalog Elektronik. Adapun Petunjuk Update Data KBLI pada SIKaP terlampir pada pengumuman ini 
										</li>
                                    </ul>
									<br>
									<p>
										Demikian kami sampaikan, atas perhatian dan kerjasamanya kami mengucapkan terima kasih.

									</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Area -->
		