<!-- Breadcrumb Area -->
        <section class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-box text-center">
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">Home <span>||</span></li>
                                <li class="list-inline-item"><a href="#">Pengumuman</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Breadcrumb Area -->

        <!-- About Area -->
        <section class="about-us">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-12">
                        <div class="row his-mis">
                            
                            <div class="col-md-6">
                                <div class="history">
                                    <h5>Syarat PendaftaranKatalog Elektronik</h5>
                                    <p>Berikut Syarat PEndaftaran Katalog Eloktronik : </p>
                                    <ul class="list-unstyled">
										<li><i class="fa fa-check"></i>Terdaftar di SiKAP</li>
										<li><i class="fa fa-check"></i>KTP Pemilik</li>
										<li><i class="fa fa-check"></i>NPWP Perusahaan/Pemilik</li>
										<li><i class="fa fa-check"></i>Surat PernyataanKeabsahan/KebenaranInformasiProduk dan Harga yang sudahditandatangani dan bermaterai**</li>
										<li><i class="fa fa-check"></i>Surat Pernyataan Usaha Mikro dan Kecil yang sudahditandatangani dan bermaterai**</li>
										<li><i class="fa fa-check"></i>SPT Tahun 2019 dan 2020 (besertalampiranlaporankeuangan)</li>
										<li><i class="fa fa-check"></i>AktaPerubahan Modal Terakhir (apabilaadaperubahan)</li>
										<li><i class="fa fa-check"></i>AktaPendirian dan Pengesahan Hukum dan HAM besertaperubahanterakhir (apabilaadaperubahan)</li>
										<li><i class="fa fa-check"></i>Izin Usaha/NIB yang dikeluarkan oleh Lembaga Online Single Submission (OSS) dan Kode Kumpulan Baku Lapangan Usaha Indonesia (KBLI), sesuaidengankategoriproduk</li>
										<li><i class="fa fa-check"></i>Bukti Konfirmasi Status WajibPajak (KSWP) yang valid (Screeshoot)</li>
										<li><i class="fa fa-check"></i>Daftar, Spesifikasidan FotoProduk</li>
										
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="history">
                                    <h5>Pengumuman Pendaftaran Penyedia Etalase Produk Perjalanan Religi dan Khusus Kabupaten Kepulauan Meranti</h5>
                                    <p>
										Apabila Merek dan Satuan Ukur belum terdaftar pada Katalog Elektronik untuk keperluan input produk pada saat proses pendaftaran, mohon disampaikan melalui form berikut:

										Merek: s.id/TambahMerek
										Unit Pengukuran: s.id/TambahUnitUkur
									</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Area -->
		