
        <!-- Faq -->
        <section class="faq">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="faq-box">
                            <div>
                                <h6><span>1</span> NIE pada saat pengisian data AKD/AKL produk Alat Kesehatan tidak sesuai, apa yang harus saya lakukan?</h6>
                                <p>Saat ini Katalog Elektronik telah terintegrasi dengan data NIE Alat kesehatan Kementerian Kesehatan. Jika data NIE pada saat pengisian data AKD/AKL produk Alat Kesehatan tidak dapat ditemukan / terdap... Selengkapnya</p>
                            </div>
                            <div>
                                <h6><span>2</span>Dimana saya bisa mengetahui aturan terbaru ePurchasing/Katalog ELektronik?</h6>
                                <p>Aturan terbaru mengenai Katalog Elektronik adalah Peraturan Presiden No. 12 tahun 2021 tentang Pengadaan Barang/Jasa Pemerintah dan Peraturan LKPP No. 9 tahun 2021 tentang Toko Daring dan Katalog Elek..</p>
                            </div>
                            <div>
                                <h6><span>3</span>Mengapa data Satuan Kerja (satker) tidak ditemukan ketika membuat paket?</h6>
                                <p>Pada ePurchasing v.5, data satker menggunakan data satker yang terdapat dalam Sistem Informasi Rencana Umum Pengadaan (SiRUP). Harap perbaharui data satker di SiRUP apabila memang belum pernah </p>
                            </div>
                            <div>
                                <h6><span>4</span>Apakah ada batasan nilai pengadaan untuk PP atau PPK dalam ePurchasing?</h6>
                                <p>Batasan Nilai Pengadaan ePurchasing untuk Pejabat Pengadaan adalah paling banyak Rp. 200.000.000,- (dua ratus juta rupiah), sedangkan untuk PPK adalah paling sedikit di atas Rp. 200.000.000,- (dua rat... Selengkapnya</p>
                            </div>
                            <div>
                                <h6><span>5</span>Fitur Tambah Paket tidak ada, bagaimana cara Pejabat Pengadaan (PP)/PPK membuat paket ePurchasing baru?</h6>
                                <p>Bila sudah login, PP/PPK dapat melakukan pembelian dengan cara klik tombol Beli yang ada pada masing-masing produk barang/jasa di eCatalogue. Pada bagian atas akan tampil Keranjang Pembelian, selanjut... Selengkapnya</p>
                            </div>
                        </div>
                    </div>
                    <!--div class="col-md-6">
                        <div class="faq-box">
                            <div>
                                <h6><span>2</span> How do I contact with XeMart?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quasi hic, explicabo ex quam voluptatem sed quisquam eaque earum aut nesciunt cumque illo id voluptatibus alias dignissimos repellendus distinctio.</p>
                            </div>
                            <div>
                                <h6><span>4</span> Can I cancel my order?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quasi hic, explicabo ex quam voluptatem sed quisquam eaque earum aut nesciunt cumque illo id voluptatibus alias dignissimos repellendus distinctio.</p>
                            </div>
                            <div>
                                <h6><span>6</span> Can I replace my product if I need?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quasi hic, explicabo ex quam voluptatem sed quisquam eaque earum aut nesciunt cumque illo id voluptatibus alias dignissimos repellendus distinctio.</p>
                            </div>
                            <div>
                                <h6><span>8</span> Can I get refund for any of my product?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quasi hic, explicabo ex quam voluptatem sed quisquam eaque earum aut nesciunt cumque illo id voluptatibus alias dignissimos repellendus distinctio.</p>
                            </div>
                            <div>
                                <h6><span>10</span> How much time it takes to deliver product?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quasi hic, explicabo ex quam voluptatem sed quisquam eaque earum aut nesciunt cumque illo id voluptatibus alias dignissimos repellendus distinctio.</p>
                            </div>
                        </div>
                    </div-->
                </div>
            </div>
        </section>
        <!-- End Faq -->

        <!-- Brand area 2 -->
        <section class="brand2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tp-bnd owl-carousel">
                            <div class="bnd-items">
                                <a href="#"><img src="images/brand-01.png" alt="" class="img-fluid"></a>
                            </div>
                            <div class="bnd-items">
                                <a href="#"><img src="images/brand-02.png" alt="" class="img-fluid"></a>
                            </div>
                            <div class="bnd-items">
                                <a href="#"><img src="images/brand-03.png" alt="" class="img-fluid"></a>
                            </div>
                            <div class="bnd-items">
                                <a href="#"><img src="images/brand-04.png" alt="" class="img-fluid"></a>
                            </div>
                            <div class="bnd-items">
                                <a href="#"><img src="images/brand-05.png" alt="" class="img-fluid"></a>
                            </div>
                            <div class="bnd-items">
                                <a href="#"><img src="images/brand-06.png" alt="" class="img-fluid"></a>
                            </div>
                            <div class="bnd-items">
                                <a href="#"><img src="images/brand-07.png" alt="" class="img-fluid"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Brand area 2 -->