<div class="collapse navbar-collapse pull-left" id="navbar-collapse">
    <ul class="nav navbar-nav">
      <li ><a href="{$host}dashboard" >Dashboard<span class="sr-only">(current)</span></a></li>
      <li><a href="{$host}pengajuan-anggran">Pengajuan Anggaran</a></li>
      <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Master Data<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="{$host}m-project">Master Project</a></li>
          <li><a href="{$host}m-barang">Master Barang</a></li>
          <li><a href="{$host}m-departemen">Master Departemen</a></li>
          <li><a href="{$host}m-jabatan">Master Jabatan</a></li>
        </ul>
      </li>
	  <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">User Management<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="{$host}m-user">User Data</a></li>
          <li><a href="{$host}m-user-group">User Group</a></li>
        </ul>
      </li>
	  <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Laporan<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Laporan A</a></li>
          <li><a href="#">Laporan B</a></li>
          <li><a href="#">Laporan C</a></li>
        </ul>
      </li>
    </ul>
</div>