<table style="width:100%">
	<tr >
		<td style="text-align:right;vertical-align:top;width:40%" rowspan="2">
			<img src="{$host}__assets/img/logo.png" style="width:100px;margin-top:-3px;">
		</td>
		<td style="text-align:left;;vertical-align:middle;width:60%;font-size:12px;font-weight:bold;">
			<br>CV. FORDZA INDONESIA<br>
			<table style="font-size:10px;">
				<tr>
					<td style="vertical-align:top;">Workshop</td>
					<td style="vertical-align:top;">:</td>
					<td>Ruko casa gardenia no.1 (plang ninja express) Rt.08 Rw.07 jl.Raya Batugede kel.Cilebut Barat kec.Sukaraja Bogor 16710</td>
				</tr>
				<tr>
					<td style="vertical-align:top;">Office</td>
					<td style="vertical-align:top;">:</td>
					<td>Kp. Bojong sempu rt.03/06 desa cilebut barat, kec. Sukaraja, kab. Bogor 16710</td>
				</tr>
				<tr>
					<td>Telp</td>
					<td>:</td>
					<td>(0251)7596063</td>
				</tr>
			</table>
			
		</td>
	</tr>
	
</table>